@page "/"
@using E_CommerceTask.Shared.Models
@inject ICartService CartService
@inject IProductService ProductService
<PageTitle>Home</PageTitle>

<div class="mb-5">
    <TopProductCarousel Products="@_products.OrderByDescending(p => p.Rate).Take(5).ToList()"/>
</div>

<MudStack Class="mb-3"
          Row="true"
          Wrap="Wrap.Wrap"
          AlignItems="AlignItems.Start"
          Justify="Justify.FlexStart"
          StretchItems="StretchItems.Start"
          Spacing="2">
    <MudItem>
        <MudChipSet T="ProductFilters"
                    SelectedValueChanged="OnSelectedFilterChanged"
                    CheckMark SelectionMode="SelectionMode.SingleSelection"
                    Class="mb-3">
            <MudChip Text="@nameof(ProductFilters.All)"
                     Value="ProductFilters.All"/>
            <MudChip Text="Top Rated"
                     Value="ProductFilters.TopRated"/>
            <MudChip Text="@nameof(ProductFilters.Newest)"
                     Value="ProductFilters.Newest"/>
            <MudChip Text="@nameof(ProductFilters.Oldest)"
                     Value="ProductFilters.Oldest"/>
            <MudChip Text="Price Low To High"
                     Value="ProductFilters.PriceLowToHigh"/>
            <MudChip Text="Price High To Low"
                     Value="ProductFilters.PriceHighToLow"/>
        </MudChipSet>
    </MudItem>
    <MudItem>
        <MudSelect T="ObjectId"
                   Style="min-width: 160px;"
                   Variant="Variant.Outlined"
                   Label="Select Category"
                   Margin="Margin.Dense"
                   SelectedValuesChanged="OnSelectedCategoriesChanged!">
            <MudSelectItem Value="ObjectId.Empty">All Categories</MudSelectItem>
            @foreach (var category in _categories)
            {
                <MudSelectItem Value="@category.Id">@category.Name</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
</MudStack>

<MudGrid Spacing="3" Justify="Justify.Center">
    @foreach (var product in _filteredProducts)
    {
        <MudItem xs="12" sm="4" md="3" lg="2">
            <ProductCard Product="product"/>
        </MudItem>
    }
</MudGrid>
<MudPaper Class="d-flex justify-center pa-4 mt-4">
    <MudPagination Count="@((int)Math.Ceiling((double)_totalCount / PageSize))"
                   Selected="@_pageIndex"
                   BoundaryCount="1"
                   SelectedChanged="@OnPageChanged"/>
</MudPaper>